# Strapi API configuration

PUBLIC_STRAPI_API_URL=https://api.example.com/api
STRAPI_API_TOKEN=your_strapi_api_token_here
PUBLIC_STRAPI_API_URL_IMAGES=https://api.example.com

# Open Weather App configuration

PUBLIC_OPENWEATHER_API_KEY=api-key
PUBLIC_OPENWEATHER_CITY=city
PUBLIC_OPENWEATHER_COUNTRY=country_code