:root {
    /* colors */
    --color-primary: #ee7923;
    --color-secondary: #fdeCDD;
    --color-background: #fff9f2;
    --color-alternative: #F44A09;
    --color-optional-text: #C39E7D;

    --color-text-primary: #2b2b2b;
    --color-text-secondary: #5a5a5a;
    --color-border: #e5e5e5;

    /* typography */
    --font-family-base: 'Montserrat', system-ui, sans-serif;

    /* Fonts sizes */
    --reader-font-scale: 1;
    --font-size-xxs: 0.625rem;
    --font-size-xs: 0.875rem;
    --font-size-sm: 1rem;
    --font-size-md: 1.125rem;
    --font-size-lg: 1.25rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 2rem;
    --font-size-xxxl: 3rem;

    /* spacing */
    --space-xxs: 0.25rem;
    --space-xs: 0.5rem;
    --space-sm: 0.75rem;
    --space-md: 1rem;
    --space-lg: 1.5rem;
    --space-xl: 2rem;
    --space-xxl: 2.2rem;
    --space-xxxl: 3rem;

    /* borders */
    --radius-sm: 0.25rem;
    --radius-md: 0.5rem;
    --radius-lg: 1rem;
    --radius-xl: 1.5rem;
    --radius-xxl: 2rem;
    --radius-xxxl: 3rem;
}