:root {
    /* colors */
    --color-primary: #ee7923;
    --color-secondary: #fdeCDD;
    --color-background: #fff9f2;
    --color-alternative: #F44A09;

    --color-text-primary: #2b2b2b;
    --color-text-secondary: #5a5a5a;
    --color-border: #e5e5e5;

    /* typography */
    --font-family-base: 'Montserrat', system-ui, sans-serif;

    /* Fonts sizes */
    --font-size-xs: 0.875rem;
    /* 14px */
    --font-size-sm: 1rem;
    /* 16px */
    --font-size-md: 1.125rem;
    /* 18px */
    --font-size-lg: 1.25rem;
    /* 20px */
    --font-size-xl: 1.5rem;
    /* 24px */
    --font-size-xxl: 2rem;
    /* 32px */

    /* spacing */
    --space-xxs: 0.25rem;
    --space-xs: 0.5rem;
    --space-sm: 0.75rem;
    --space-md: 1rem;
    --space-lg: 1.5rem;
    --space-xl: 2rem;
    --space-xxl: 2.2rem;

    /* borders */
    --radius-sm: 6px;
    --radius-md: 10px;
    --radius-lg: 16px;
}