
.about-vivir-plenamente__container {
    width: 100%;
    padding: var(--space-xxl);
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-vivir-plenamente__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* image */

.vivir-plenamente__icon {
    width: 125px;
    height: 125px;
}

/* content */

.header-about-vp__tittle {
    font-size: var(--font-size-xxl);
    text-align: center;
}

.about-vivir-plenamente__content {
    max-width: 720px;
    gap: var(--space-xl);
    display: flex;
    align-items: center;
    flex-direction: column;
}


.content__text {
    text-align: center;
    font-family: var(--font-family-base);
    font-size: var(--font-size-lg);
    color: var(--color-optional-text);
}

/* button */

.home__button {
    text-align: center;
    display: inline-block;
    min-width: 250px;
    font-size: var(--font-size-xs);
    background-color: var(--color-primary);
    border-radius: var(--space-xl);;
    color: var(--color-background);
    text-decoration: none;
    padding: var(--space-sm) var(--space-xl);
    border: var(--space-xxs) solid var(--color-background);
}

