
.about-vivir-plenamente__container {
    width: 100%;
    padding: var(--space-xxl);
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-vivir-plenamente__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* image */

.vivir-plenamente__icon {
    width: 125px;
    height: 125px;
}

/* content */

.header-about-vp__tittle {
    font-size: var(--font-size-xxl);
    text-align: center;
}

.about-vivir-plenamente__content {
    max-width: 720px;
    gap: var(--space-xl);
    display: flex;
    align-items: center;
    flex-direction: column;
}


.content__text {
    text-align: center;
    font-family: var(--font-family-base);
    font-size: var(--font-size-lg);
    color: var(--color-optional-text);
}

/* button */

.about-container__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 280px;
    padding: var(--space-sm) var(--space-xl);
    background-color: var(--color-primary);
    color: var(--color-background);
    border-radius: var(--space-md);
    font-weight: 600;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
}

.about-container__button:hover {
    transform: translateY(-3px);
}