.colaborate-periodism__container {
    width: 100%;
    padding: var(--space-xxl);
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* content */

.colaborate-periodism__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 720px;
    gap: var(--space-xl);
}

.colaborate-periodism__tittle {
    font-size: var(--font-size-xxl);
}

.colaborate-periodism__subtittle {
    font-family: var(--font-family-base);
    font-size: var(--font-size-lg);
}

/* button */

.colaborate-periodism__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 280px;
    padding: var(--space-sm) var(--space-xl);
    background-color: var(--color-primary);
    color: var(--color-background);
    border-radius: var(--space-md);
    font-weight: 600;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
}

.colaborate-periodism__button:hover {
    transform: translateY(-3px);
}