.event-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-xl);
  width: 100%;
}

@media (max-width: 1100px) {
  .event-list {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-lg);
  }
}

@media (max-width: 640px) {
  .event-list {
    grid-template-columns: 1fr;
    gap: var(--space-lg);
  }
}
