.meta-button {
    display: flex;
    align-items: center;
    gap: var(--space-sm);
    background-color: var(--color-primary);
    padding: var(--space-sm) var(--space-md);
    border-radius: var(--space-xl);
}

.meta-icon {
    color: var(--color-background);
}

.meta-button-text {
    color: var(--color-background);
    font-size: var(--font-size-sm);
    font-weight: 500;
}